$primary-color: #ff3e39;
$bg--dark : #0f0f0f;
$text-color--dark : #c2c2c2;
$bg-calc--dark: #151515;
$bg-key-container--dark: #1a1a1a;


$bg--light : #ebebeb;
$bg-calc--light: #fafafa;
$text-color--light : #1a1a1a;
$bg-key-container--light : #ffffff;

$key-color--dark:#ffffff5e;
$key-color--dark-hover: #fffffffe; 
$key--hover-bcg-dark : #2f2f2f;
$key--hover-color--dark : #fff; 
$key--hover-boxShadow-dark : #4d4d4d2d;  
 
$key-color--light:#2f2f2f80;
$key-color--light-hover: #fffffffe; 
$key--hover-bcg-light : #2f2f2f;
$key--hover-color--light : #fff; 
$key--hover-boxShadow-light : #4d4d4d2d;

$bg-calc-color--dark : #ffffff5e;
$operational-btn-hover-border-color-dark: #ff3e39;

$bg-calc-color--light : #2f2f2f98;  
$operational-btn-hover-bcg--light: #ef5e59;
$operational-btn-hover-color--light: rgb(250, 246, 246)!important;